.container {
    width: 80%;
    margin:20px auto;
  }
.slider {
    display: flex;
    height: 100%;
    width: 400%;
}

.left, .right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.arrow i {
    position: flex;
    font-size: 60px;
    color: white;
    opacity: .7;
    -webkit-animation: carousel-arrow-alt 0.25s cubic-bezier(0, 0, 0, 0) both;
    animation: carousel-arrow-alt 0.25s cubic-bezier(0, 0, 0, 0) both;
    transition: 0.25s;
}
.arrow i:hover {
    position: flex;
    font-size: 65px;
    color: white;
    opacity: 1;
    -webkit-animation: carousel-arrow 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: carousel-arrow 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    transition: 0.25s;
}
.left {
    left: 10px;
}
.right {
    right: 10px;
}
.control ul {
    list-style: none;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin: 0;
    padding: 0;
    transform: translate(-50%);
}
.control ul li {
    width: 10px;
    height: 10px;
    background: transparent;
    border: 2px solid white;
    border-radius: 50px;
    margin: 10px;
    cursor: pointer;
    transition: .5s;
    /*opacity: .7;*/
    
}
.control ul li:hover {
    background: white;
    transition: .5s;
    opacity: 1;
} 

.control ul li.selected {
    background: white;
    
}

#rabbit {
    display: flex;
    padding: 5%;
}

#turtle {
    display: flex;
    padding: 5%;
}

#fox {
    display: flex;
    padding: 5%;
}