<app-ad-banner></app-ad-banner>
<div class="row">

    <div class="col-md-2 col-xl-2"></div>

    <div class="col-12 col-md-8 col-xl-6 first-column">
        <ng-container *ngIf="ready">
            <div class="d-flex justify-content-between align-items-start">
                <h1>
                    {{word.getText()[localeInt]}}
                </h1>
                <div class="d-flex align-items-start">
                    <button type="button" class="btn flag-btn" name="flag">
                        <i class="bi bi-flag-fill"></i>
                    </button>
                    <button type="button" class="btn heart-btn" name="heart">
                        <i class="bi bi-heart-fill"></i>
                    </button>
                </div>
            </div>

            

                <!-- Carousel 2 -->

                <div class="d-flex justify-content-center video-container">
                    <div class = "mycarousel">
                        <video id="sign-video" autoplay loop muted>
                            <source type="video/mp4" src={{videos[0]}}>
                            <p>Error: Your browser doesn't support HTML5 video. 
                        </video>
                        <ul class = "navigation"> 
                            <ng-container *ngIf = "videos.length > 1">
                                <ng-container *ngFor = "let video of videos; let index = index">
                                    <button (click)="videoUrl(video,index)" type="button">Seña {{ index + 1}}</button>
                                </ng-container>
                            </ng-container>
                        </ul>
                    </div>
                </div>
                
                <!-- Carousel 2 -->
                <div class="video-controls d-flex justify-content-center align-items-center">
                   
                    <button type="button" class="btn video-btn" (click) = "setPlay()" name="playpause">
                        <i #icon class="bi bi-pause-fill"></i>
                    </button>
                     <button type="button" class="btn video-btn" (click) = "setTurtle()" name="turtle">
                        <i class="bi bi-chevron-compact-right"></i>
                    </button>
                    <button type="button" class="btn video-btn" (click) = "setRabbit()" name="rabbit" value="2">
                        <i class="bi bi-camera-reels"></i> <i class="bi bi-chevron-right"></i> 
                    </button>
                    <button type="button" class="btn video-btn"  (click) = "setFox()" name="fox" value="2">
                        <i class="bi bi-chevron-double-right"></i>
                    </button>
                    <button type="button" class="btn video-btn" value="2" (click)="openFullscreen()">
                        <i class="video-bi bi bi-arrows-fullscreen"></i>
                    </button>
                </div>

            <ng-container *ngIf="word.getDefinitions()[localeInt] !=''">
                <div class="row">
                    <div class="col-12">
                        <div class="card word-card">
                            <div class="card-body">
                                <h3>
                                    {{strDef[localeInt]}}
                                </h3>
                                <hr> {{word.getDefinitions()[localeInt]}}
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="word.getContext()[localeInt] != ''">
                <div class="row">
                    <div class="col-12">
                        <div class="card word-card">
                            <div class="card-body">
                                <h3>
                                    {{strExp[localeInt]}}
                                </h3>
                                <hr> {{word.getContext()[localeInt]}}
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="word">
                <div class="row">
                    <div class="col-12">
                        <div class="card word-card">
                            <div class="card-body">
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
            <div class="row">
                <div class="col-12">
                    <div class="card word-card">
                        <div class="card-body">
                            <h3>
                                {{strDet[localeInt]}}
                            </h3>
                            <hr>
                            <ul>
                                <li class="ligrt">
                                    {{strCat[localeInt]}}:
                                </li>
                                <li class="ligrt">
                                    {{strLen[localeInt]}}:
                                </li>
                                <li class="ligrt">
                                    {{strReg[localeInt]}}:
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </ng-container>
    </div>

    <div class="d-none d-xl-block col-xl-2 second-column">
        <img class="mt-5 ad-column" src="/assets/img/300x600.png" alt="">
    </div>

    <div class="col-md-2 col-xl-2"></div>
</div>
<app-ad-banner></app-ad-banner>