<app-ad-banner></app-ad-banner>
<div class="row">

    <div class="col-md-2 col-xl-2"></div>

    <div class="col-12 col-md-8 col-xl-6 first-column">
        <div class="d-flex justify-content-between align-items-start">
            <h1>
                {{ word.text_es }}
            </h1>
            <div class="d-flex align-items-start">
                <button type="button" class="btn flag-btn" name="flag">
                    <i class="bi bi-flag-fill"></i>
                </button>
                <button type="button" class="btn heart-btn" name="heart">
                    <i class="bi bi-heart-fill"></i>
                </button>
            </div>
        </div>
        <!-- autoplay loop mute-->
        <div class="video-container" id = "vid-container">
            <video id="sign-video" autoplay loop muted>
                <source src="https://storage.googleapis.com/signa-mundi/LSM/words/100-A.mp4">
            </video>
        </div>
        <div class="video-controls d-flex justify-content-center align-items-center">
            <button type="button" class="btn video-btn" (click) = "setTurtle()" name="turtle">
                <i class="bi bi-chevron-left"></i>
            </button>
            <button type="button" class="btn video-btn" (click) = "setPlay()" name="playpause">
                <i id = "icon" class="bi bi-pause-fill"></i>
            </button>
            <button type="button" class="btn video-btn" (click) = "setRabbit()" name="rabbit" value="2">
                <i class="bi bi-chevron-compact-right"></i>
            </button>
            <button type="button" class="btn video-btn"  (click) = "setFox()" name="fox" value="2">
                <i class="bi bi-chevron-right"></i>
            </button>
            <button type="button" class="btn video-btn" value="2" (click)="openFullscreen()">
                <i class="video-bi bi bi-arrows-fullscreen"></i>
            </button>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card word-card">
                    <div class="card-body">
                        <h3>
                            Definición en Español
                        </h3>
                        <hr> {{word.definition_es}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card word-card">
                    <div class="card-body">
                        <h3>
                            Explicación de la seña
                        </h3>
                        <hr> Bla bla bla
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <div class="card word-card">
                    <div class="card-body">
                        <h3>
                            Detalles
                        </h3>
                        <hr>
                        <ul>
                            <li class="ligrt">
                                Categoría: {{ this.wordCategoriesStr[word.word_category_ID][1] }}
                            </li>
                            <li class="ligrt">
                                Lengua de Señas:
                            </li>
                            <li class="ligrt">
                                Región:
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="card word-card">
                    <div class="card-body">
                        <h3>
                            Palabras Relacionadas
                        </h3>
                        <hr>
                        <ul>
                            <li class="ligrt">
                                <a href="">Proximamente...</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="d-none d-xl-block col-xl-2 second-column">
        <img class="ad-column" src="/assets/img/300x600.png" alt="">
    </div>

    <div class="col-md-2 col-xl-2"></div>
</div>

<ng-template #crear let-modal>
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"><i class="bi bi-chevron-left"></i></button>
    </div>
    <div class="modal-body">
        <div class="fullScreen">
            <video #myVideo autoplay loop mute  >
                <source src="https://storage.googleapis.com/videos.signapp.site/LSM/words/1-hd.mp4">
            </video>
        </div>
    </div>
</ng-template>

<app-ad-banner></app-ad-banner>