/* VIDEO ######################################################### */

.video-container {
    padding-top: 56.25%;
    height: contain;
    position: relative;
    border: solid;
    border-width: 3px;
    border-color: var(--cream-dark);
    width: 100%;
    border-radius: 1.2rem;
    background-color: #000;
}

video {
    top: 0;
    left: 0;
    right: 0;
    padding-bottom: 30px;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(/assets/img/loader.gif);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 60%;
    border-radius: 2rem;
}

.video-controls {
    position:relative;
    width: 100%;
    height: 34px;
    background-color: var(--carbon-dark);
    border-width: 3px !important;
    border-radius: 1rem;
    z-index: 5;
}

.video-btn {
    display: flex;
    vertical-align: top;
    height: 32px;
    color: #fff !important;
    background-color: var(--carbon-darker);
    border-radius: 1rem;
    border-color: var(--carbon-dark);
    border-width: 3px;
    margin: auto;
    overflow: hidden;
    font-size: auto !important;
    line-height: 100%;
    justify-content: center;
    align-content: center;
    padding: auto;
    box-shadow: 0 0 0 var(--cream-dark) !important;
    outline: none;
    z-index: 10;
}

.video-btn:hover {
    border-color: var(--carbon);
    background-color: #000;
}

.video-btn:focus {
    border-color: var(--cream-darker);
    background-color: #000;
}

.video-btn:active {
    border-color: var(--cream-darker);
    background-color: var(--carbon-dark);
}


/* PALABRAS ###################################################### */

.word-card {
    border-radius: 1rem;
    width: 100%;
    margin-top: 1.618%;
    margin-bottom: 1.618%;
    text-decoration: none;
}

.word-card-header {
    background-color: transparent;
}

.container {
    width: 80%;
    margin: 20px auto;
}

.slider {
    display: flex;
    height: 100%;
    width: 400%;
}

.left, .right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.arrow i {
    position: flex;
    font-size: 60px;
    color: white;
    opacity: .7;
    -webkit-animation: carousel-arrow-alt 0.25s cubic-bezier(0, 0, 0, 0) both;
    animation: carousel-arrow-alt 0.25s cubic-bezier(0, 0, 0, 0) both;
    transition: 0.25s;
}

.arrow i:hover {
    position: flex;
    font-size: 65px;
    color: white;
    opacity: 1;
    -webkit-animation: carousel-arrow 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: carousel-arrow 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    transition: 0.25s;
}

.left {
    left: 10px;
}

.right {
    right: 10px;
}

.control ul {
    list-style: none;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin: 0;
    padding: 0;
    transform: translate(-50%);
}

.control ul li {
    width: 10px;
    height: 10px;
    background: transparent;
    border: 2px solid white;
    border-radius: 50px;
    margin: 10px;
    cursor: pointer;
    transition: .5s;
    /*opacity: .7;*/
}

.control ul li:hover {
    background: white;
    transition: .5s;
    opacity: 1;
}

.control ul li.selected {
    background: white;
}

.social-btn {
    min-width: 45px;
    width:100%;
    height: 40px;
    font-size: 16px;
    margin-top: 3.7px;
    margin-bottom: 3.7px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    border-width: 3px;
    border-color: var(--cream-dark);
    border-radius: 2rem;
    background-color: #fff;
    transition: 0.25s;
    box-shadow: 0 0 0 var(--cream-darker) !important;
}

.interaction-btn {
    vertical-align: middle;
    height: 40px;
    width: 45%;
    margin: 3.7px;
    background-color: #fff;
    font-size: 16px;
    border-width: 3px;
    border-color: var(--cream-dark);
    border-radius: 2rem;
    transition: 0.25s;
    cursor:not-allowed;
}

.social-btn:hover {
    box-shadow: 0 0 8px var(--cream-darker) !important;
}

.social-btn:focus {
    box-shadow: 0 0 8px var(--cream-darker) !important;
}

.social-btn:active {
    box-shadow: 0 0 12px var(--cream-darker) !important;
}

.bi {
    vertical-align: middle;
    height:100%;
    margin-top: 0 !important;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 1px;
}

.video-bi {
    height: 16px;
    width: 16px;
}

.twitter-share-button {
    background-color: #3BA9EE !important;
    color: #fff !important;
}

.mail-share-button {
    background-color: var(--cream-darker) !important;
    color: #fff !important;
}

.whatsapp-share-button {
    background-color: #128C7E !important;
    color: #fff !important;
}

.facebook-share-button {
    background-color: #4167B2 !important;
    color: #fff !important;
}

.linkedin-share-button {
    background-color: #0072b1 !important;
    color: #fff !important;
}