<head>
    <title>{{["Account wiederherstellen","Recuperar cuenta","Recover account","Récupérer compte","Recupera account","Recuperar conta"][this.appComponent.localeInt]}}</title>
</head>

<body>
    <div class="row justify-content-center">
        
        <div class="col-12 first-column">
            <div class="row row-cols-1">
                <div class="col-12 d-flex justify-content-center handsapp-logo mb-3 w-100"></div>
                <div class="col-12 d-flex justify-content-center card mt-3 mb-3 p-4">
                    <form>
                        <p class="text-center">
                            {{["Passwort Ihres Kontos vergessen? Geben Sie Ihre E-Mail-Adresse ein und wir senden Ihnen einen Wiederherstellungslink.",
                            "¿Olvidaste la contraseña de tu cuenta? Ingrese su dirección de correo electrónico y le enviaremos un vínculo de recuperación.",
                            "Forgot your account’s password? Enter your email address and we’ll send you a recovery link.",
                            "Mot de passe oublié ? Entrez votre adresse e-mail et nous vous enverrons un lien de récupération.",
                            "Hai dimenticato la password del tuo account? Inserisci il tuo indirizzo email e ti invieremo un link di recupero.",
                            "Esqueceu a senha da sua conta? Digite seu endereço de e-mail e enviaremos um link de recuperação."][this.appComponent.localeInt]}}
                        </p>
                        <label for="email">
                            <b>
                                {{["Email",
                                "Correo electrónico",
                                "Email",
                                "Courrier électronique",
                                "E-mail",
                                "Correio eletrônico"][this.appComponent.localeInt]}}
                            </b>
                        </label>
                        <input [(ngModel)]="this.inputMail" #mail="ngModel" 
                            class="form-control forgot-in mb-2" type="email" 
                            name="email" id="email" 
                            minlength="6" maxlength="250" 
                            required [email]="true" autocomplete="username"/>
                        <div *ngIf="mail.invalid && mail.dirty" class="d-flex justify-content-between alert-danger mb-2 w-100">
                            <div>
                                {{[ "Ungültige E-Mail.",
                                "Correo electrónico inválido.",
                                "Invalid E-mail.",
                                "Courrier électronique invalide.",
                                "E-mail non valido.",
                                "E-mail inválido."
                                ][this.appComponent.localeInt]}}
                            </div>
                            <svg aria-hidden="true" class="bi svg-icon iconAlertCircle" width="18" height="18" viewBox="0 0 18 18">
                                <path d="M9 17c-4.36 0-8-3.64-8-8 0-4.36 3.64-8 8-8 4.36 0 8 3.64 8 8 0 4.36-3.64 8-8 8zM8 4v6h2V4H8zm0 8v2h2v-2H8z" fill="var(--red)"></path>
                            </svg>
                        </div>
                        <button type="button" class="btn btn-secondary mt-2 w-100 forgot-btn"
                        (click)="mail.valid ? this.request() : 'no-forgot'">
                        <b>
                            {{["Fortsetzen",
                            "Continuar",
                            "Continue",
                            "Continuer",
                            "Continua",
                            "Prosseguir"][this.appComponent.localeInt]}}
                        </b>

                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
