<footer class="container-fluid memphis-dark">
    <form action="">
        <div class="row">
            <div class="col-md-3 col-xl-3"></div>
            <div class="col-4 col-md-2 col-xl-2 footer-col">
                <h3 class="footer-header">
                    Idioma
                </h3>
                <select class="form-select footer-select text-center" aria-label="Idioma">
                    <option value="0"> 🇩🇪 Deutsch </option>
                    <option value="1" selected> 🇪🇸 Español </option>
                    <option value="2"> 🇬🇧 English </option>
                    <option value="3"> 🇫🇷 Français </option>
                    <option value="4"> 🇮🇹 Italiano </option>
                    <option value="5"> 🇵🇹 Português </option>
                </select>
            </div>
            <div class="col-8 col-md-4 col-xl-4 footer-col">
                <h3 class="footer-header">
                    Lengua de Señas
                </h3>
                <select class="form-select footer-select text-center" aria-label="Lengua de Señas">
                    <option value="1"> 🇲🇽 Lengua de Señas Mexicana (LSM) </option>
                </select>
            </div>
            <div class="col-md-3 col-xl-3"></div>
        </div>
    </form>
    <div class="row">
        <div class="col-xl-2"></div>
        <div class="col-12 col-md-3 col-xl-2 footer-col">
            <div>
                <h3 class="footer-header">
                    Sobre nosotros
                </h3>
            </div>
            <ul class="grt footer-ul">
                <li>
                    <a class="footer-a" href="/about-us#mission">Misión</a>
                </li>
                <li>
                    <a class="footer-a" href="/about-us#team">Equipo</a>
                </li>
                <li>
                    <a class="footer-a" href="/about-us#contact">Contáctanos</a>
                </li>
            </ul>
        </div>
        <div class="col-12 col-md-3 col-xl-2 footer-col">
            <div>
                <h3 class="footer-header">
                    Productos
                </h3>
            </div>
            <ul class="grt footer-ul">
                <li>
                    <a class="footer-a" href="/products#android">Android</a>
                </li>
                <li>
                    <a class="footer-a" href="/products#iOS">iOS</a>
                </li>
            </ul>
        </div>
        <div class="col-12 col-md-3 col-xl-2 footer-col">
            <div>
                <h3 class="footer-header">
                    Redes Sociales
                </h3>
            </div>
            <ul class="grt footer-ul">
                <li>
                    <a class="footer-a" href="https://www.facebook.com/HandsApp.org">Facebook</a>
                </li>
                <li>
                    <a class="footer-a" href="https://twitter.com/HandsAppOrg">Twitter</a>
                </li>
                <li>
                    <a class="footer-a" href="https://www.instagram.com/handsapp_org/">Instagram</a>
                </li>
            </ul>
        </div>
        <div class="col-12 col-md-3 col-xl-2 footer-col">
            <div>
                <h3 class="footer-header">
                    Legales
                </h3>
            </div>
            <ul class="grt footer-ul">
                <li>
                    <a class="footer-a" (click)="this.appComponent.navigate('terms')">Términos y Condiciones</a>
                </li>
                <li>
                    <a class="footer-a" (click)="this.appComponent.navigate('privacy')">Privacidad</a>
                </li>
            </ul>
        </div>
        <div class="col-xl-2"></div>
    </div>

    <div class="row d-flex justify-content-evenly">
        <div class="col-12 d-flex justify-content-center align-content-center">
            <p class="copyright">© Tecnologías Haikode 2021, todos los derechos reservados.</p>
        </div>
        <div class="col-12 d-flex justify-content-center align-content-center">
            <a href="//www.dmca.com/Protection/Status.aspx?ID=0fdf44bc-e6c7-4432-a165-4183defe4411"
                title="DMCA.com Protection Status" class="dmca-badge"> <img
                    src="https://images.dmca.com/Badges/dmca_protected_sml_120n.png?ID=0fdf44bc-e6c7-4432-a165-4183defe4411"
                    alt="DMCA.com Protection Status" /></a>
            <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js">
            </script>
        </div>
    </div>
</footer>