/* FOOTER ######################################################## */

.memphis-dark {
    background: url(/assets/img/memphis_dark.png);
    background-image: url(/assets/svg/memphis_dark.svg), none;
    background-color: var(--carbon);
    background-size: 900px;
    background-repeat: repeat;
    color: #fff;
    font-weight: 800;
}

.memphis-light {
    background: url(/assets/img/memphis_light.png);
    background-image: url(/assets/svg/memphis_light.svg), none;
    background-color: var(--cream-dark);
    background-size: 900px;
    background-repeat: repeat;
    color: #000;
    font-weight: 800;
}

footer {
    display: block;
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    clear: both;
    margin-top: 32px;
    padding-top: 32px;
    padding-bottom: 32px;
    text-shadow: 0 0 5px var(--carbon-dark);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.footer-col {
    display: block;
    text-align: center;
    justify-content: center;
    height: 100%;
}

.footer-header {
    margin-top: 12px;
    margin-bottom: 16px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}

.footer-ul {
    list-style: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    text-align: center;
    max-width: 100% !important;
    padding: 0 !important;
}

.footer-select {
    margin-top: 16.18px;
    margin-bottom: 46.18px;
    height: 100%;
    text-align: center;
    text-align-last: center;
}

.footer-a {
    color: var(--cream-dark)
}

.footer-a:hover {
    color: var(--cream)
}

.bi-footer {
    margin-bottom: -6.5px !important;
    margin-top: 0 !important;
}

.text-muted {
    color: var(--cream-dark) !important;
    font-weight: 400;
}

i {
    position: relative;
    /* Adjust these values accordingly */
    bottom: 5.25px;
}