<footer class="container-fluid memphis-dark">
    <form action="">
        <div class="row">
            <div class="col-md-2 col-xl-3"></div>
            <div class="col-3 col-md-2 col-xl-2 footer-col">
                <h3 class="">
                    Idioma <i class="fa fa-language" aria-hidden="true"></i>
                </h3>
                <select class="form-select footer-select" aria-label="Idioma" disabled>
                    <option value="1">Deutsch</option>
                    <option value="2" selected>Español</option>
                    <option value="3">English</option>
                    <option value="4">Français</option>
                    <option value="5">Italiano</option>
                    <option value="6">Português</option>
                  </select>
            </div>
            <div class="col-6 col-md-6 col-xl-4 footer-col">
                <h3 class="">
                    Lengua de Señas
                    <i class="fa fa-sign-language" aria-hidden="true"></i>
                </h3>
                <select class="form-select footer-select" aria-label="Lengua de Señas" disabled>
                    <option value="1">Lengua de Señas Mexicana (LSM)</option>
                  </select>
            </div>
            <div class="col-md-2 col-xl-3"></div>
        </div>
    </form>
    <div class="row">
        <div class="col-xl-2"></div>
        <div class="col-12 col-md-3 col-xl-2 footer-col">
            <div>
                <h3 class="footer-header">
                    Sobre nosotros
                </h3>
            </div>
            <ul class="grt">
                <li>
                    Misión
                </li>
                <li>
                    Equipo
                </li>
                <li>
                    Contáctanos
                </li>
            </ul>
        </div>
        <div class="col-12 col-md-3 col-xl-2 footer-col">
            <div>
                <h3 class="footer-header">
                    Productos
                </h3>
            </div>
            <ul class="grt">
                <li>
                    Android
                </li>
                <li>
                    iOS
                </li>
            </ul>
        </div>
        <div class="col-12 col-md-3 col-xl-2 footer-col">
            <div>
                <h3 class="footer-header">
                    Redes Sociales
                </h3>
            </div>
            <ul class="grt">
                <li>
                    Blog
                </li>
                <li>
                    Facebook
                </li>
                <li>
                    Twitter
                </li>
                <li>
                    Instagram
                </li>
            </ul>
        </div>
        <div class="col-12 col-md-3 col-xl-2 footer-col">
            <div>
                <h3 class="footer-header">
                    Legales
                </h3>
            </div>
            <ul class="grt">
                <li>
                    Términos y Condiciones
                </li>
                <li>
                    Privacidad
                </li>
            </ul>
        </div>
        <div class="col-xl-2"></div>
    </div>

    <div class="row d-flex justify-content-evenly">
        <div class="col-12 d-flex justify-content-center align-content-center">
            © Tecnologías Haikode 2021, todos los derechos reservados. &nbsp;
            <a href="//www.dmca.com/Protection/Status.aspx?ID=0fdf44bc-e6c7-4432-a165-4183defe4411" title="DMCA.com Protection Status" class="dmca-badge"> <img src="https://images.dmca.com/Badges/dmca_protected_sml_120n.png?ID=0fdf44bc-e6c7-4432-a165-4183defe4411" alt="DMCA.com Protection Status" /></a>
            <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js">
            </script>
        </div>
    </div>
</footer>