<head>
    <title>{{this.strTitle[this.appComponent.localeInt]}}</title>
</head>

<body>
    <div class="row">
        <div class="col-1 col-md-2 col-xl-3"></div>
    
        <div class="col-10 col-md-8 col-xl-6 first-column">
            <h1 class="title">
                {{this.strTitle[this.appComponent.localeInt]}}
            </h1>
            <div class="row">
                <div class="col-12">
                    <p class="grt nice-p">
                        {{[ "Der Inhalt von HandsApp wird zu 100% von Spendern finanziert. Wir sind ihnen für immer dankbar, dass sie an uns und unsere Vision glauben. Dank ihnen können Millionen von Menschen weltweit Gebärdensprache lernen. Sie können auch Teil davon sein und uns helfen, mehr Videos mit einem Beitrag zu erstellen:",
                            "El contenido de HandsApp está 100% financiado por donadores, estamos eternamente agradecidos con ellos por creer en nosotros y en nuestra visión. Gracias a ellos, millones de personas pueden aprender lengua de señas en todo el mundo. Tú también puedes formar parte, ayúdanos a crear más videos con una aportación:",
                            "The content on HandsApp is 100% funded by donors, we are forever grateful to them for believing in us and our vision. Thanks to them, millions of people can learn sign language around the world. You can also be part of it, help us create more videos with a contribution:",
                            "Le contenu de HandsApp est financé à 100% par des donateurs, nous leur sommes éternellement reconnaissants de croire en nous et en notre vision. Grâce à eux, des millions de personnes peuvent apprendre une langue des signes dans le monde. Vous pouvez également faire partie, nous aider à créer plus de vidéos avec une contribution:",
                            "Il contenuto di HandsApp è finanziato al 100% dai donatori, siamo per sempre grati a loro per aver creduto in noi e nella nostra visione. Grazie a loro, milioni di persone possono imparare la lingua dei segni in tutto il mondo. Puoi anche farne parte, aiutaci a creare più video con un contributo:",
                            "O conteúdo do HandsApp é 100% financiado por doadores, somos eternamente gratos a eles por acreditarem em nós e em nossa visão. Graças a eles, milhões de pessoas podem aprender a língua de sinais em todo o mundo. Você também pode fazer parte, nos ajude a criar mais vídeos com uma contribuição:"
                    ][this.appComponent.localeInt]}}
                    </p>
                    <a href="https://www.paypal.com/donate/?hosted_button_id=G363D7NEQ4CLW">
                        <input class="donate-btn" type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_donateCC_LG.gif" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                    </a>
                </div>
            </div>
            <h2 class="title">
                {{[ "Spenderwand",
                "Muro de Donadores",
                "Donor Wall",
                "Mur des donateurs",
                "Muro dei Donatori",
                "Parede de Doadores"
            ][this.appComponent.localeInt]}}
            </h2>
            <ol class="row grid-container" >
                <li class="grid-item"><div class="card donor-card donor-gold"><div class="card-body">
                    <a href="https://www.facebook.com/manosqueescuchan/"><img src="/assets/img/terceros/manosqueescuchan.png" alt=""></a>
                    <div class="date-box">
                        4 Noviembre 2020
                    </div>
                </div></div></li>
                <li class="grid-item"><div class="card donor-card donor-gold"><div class="card-body">
                    <div class = "text-container">
                        <h4 class="card-title">Josué R. Miranda</h4>
                        <div class="date-box">
                            4 Noviembre 2020
                        </div>
                    </div>
                </div></div></li>
                <li class="grid-item"><div class="card donor-card donor-gold"><div class="card-body">
                    
                    <h4 class="card-title">Jorge Asali</h4>
                    <div class="date-box">
                        4 Noviembre 2020
                    </div>
                </div></div></li>
                <li class="grid-item"><div class="card donor-card donor-gold"><div class="card-body">
                    <h4 class="card-title">Rocío A. Alcántara</h4>
                    <div class="date-box">
                        4 Noviembre 2020
                    </div>
                </div></div></li>
           
                <li class="grid-item"><div class="card donor-card donor-gold"><div class="card-body">
                    <h4 class="card-title">María T. Villalpando</h4>
                    <div class="date-box">
                        4 Noviembre 2020
                    </div>
                </div></div></li>
                <li class="grid-item"><div class="card donor-card donor-gold"><div class="card-body">
                    <h4 class="card-title">David Gómez</h4>
                    <div class="date-box">
                        4 Noviembre 2020
                    </div>
                </div></div></li>
                </ol>
            <ol class="row grid-container" >
                <li class="grid-item"><div class="card donor-card donor-silver"><div class="card-body">
                    <h4 class="card-title">Gabriela Ríos</h4>
                    <div class="date-box">
                        4 Noviembre 2020
                    </div>
                </div></div></li>
                <li class="grid-item"><div class="card donor-card donor-silver"><div class="card-body">
                    <h4 class="card-title">Alejandro B. Vargas</h4>
                    <div class="date-box">
                        4 Noviembre 2020
                    </div>
                </div></div></li>
                <li class="grid-item"><div class="card donor-card donor-silver"><div class="card-body">
                    <h4 class="card-title">Ertha Alaniz</h4>
                    <div class="date-box">
                        4 Noviembre 2020
                    </div>
                </div></div></li>
            </ol>
            <ol class="row grid-container" >
                <li class="grid-item"><div class="card donor-card donor-bronze"><div class="card-body">
                    <h4 class="card-title">Gabriela Fernández</h4>
                    <div class="date-box">
                        4 Noviembre 2020
                    </div>
                </div></div></li>
                <li class="grid-item"><div class="card donor-card donor-bronze"><div class="card-body">
                    <h4 class="card-title">Alfonso Rodhas</h4>
                    <div class="date-box">
                        4 Noviembre 2020
                    </div>
                </div></div></li>
                <li class="grid-item"><div class="card donor-card donor-bronze"><div class="card-body">
                    <h4 class="card-title">Brenda Garza</h4>
                    <div class="date-box">
                        4 Noviembre 2020
                    </div>
                </div></div></li>
                <li class="grid-item"><div class="card donor-card donor-bronze"><div class="card-body">
                    <h4 class="card-title">Elizabeth Cobler</h4>
                    <div class="date-box">
                        4 Noviembre 2020
                    </div>
                </div></div></li>
                <li class="grid-item"><div class="card donor-card donor-bronze"><div class="card-body">
                    <h4 class="card-title">Horacio Carmona</h4>
                    <div class="date-box">
                        4 Noviembre 2020
                    </div>
                </div></div></li>
                <li class="grid-item"><div class="card donor-card donor-bronze"><div class="card-body">
                    <h4 class="card-title">Alejandro Pompa</h4>
                    <div class="date-box">
                        4 Noviembre 2020
                    </div>
                </div></div></li>
                <li class="grid-item"><div class="card donor-card donor-bronze"><div class="card-body">
                    <h4 class="card-title">Luis Díaz Infante</h4>
                    <div class="date-box">
                        4 Noviembre 2020
                    </div>
                </div></div></li>
                <li class="grid-item"><div class="card donor-card donor-bronze"><div class="card-body">
                    <h4 class="card-title">Ángel D. Zamudio</h4>
                    <div class="date-box">
                        4 Noviembre 2020
                    </div>
                </div></div></li>
            </ol>
        </div>
    
        <div class="col-1 col-md-2 col-xl-3"></div>
    </div>
</body>
