<head>
    <link rel="canonical" href="https://handsapp.org/new-password"/>
    <title>{{["Account wiederherstellen","Recuperar cuenta","Recover account","Récupérer compte","Recupera account","Recuperar conta"][this.appComponent.localeInt]}}</title>
</head>

<body>
    <div class="row justify-content-center">
        
        <div class="col-12 first-column">
            <div class="row row-cols-1">
                <div class="col-12 d-flex justify-content-center handsapp-logo mb-3 w-100"></div>
                <div class="col-12 d-flex justify-content-center card mt-3 mb-3 p-4">
                    <form>
                        <div>
                            <label for="password1">
                                <b>
                                    {{["Neues Kennwort",
                                    "Nueva contraseña",
                                    "New password",
                                    "Nouveau mot de passe",
                                    "Nuova password",
                                    "Nova Senha"][this.appComponent.localeInt]}}
                                </b>
                            </label>
                            <input [(ngModel)]="this.inputPassword1" #password1="ngModel" 
                                class="form-control forgot-in mb-2"
                                type="text" name="password1" id="password1" 
                                minlength="8" maxlength="1024" 
                                autocomplete="new-password" required/>
                            <div *ngIf="password1.dirty && this.inputPassword1.length < 8" class="d-flex justify-content-between alert-danger mb-2 w-100">
                                <div>
                                    {{["Muss 8 oder mehr Zeichen lang sein.",
                                    "Tiene que tener 8 o más caracteres.",
                                    "Must be 8 or more characters.",
                                    "Doit comporter au moins 8 caractères.",
                                    "Deve contenere 8 o più caratteri.",
                                    "Deve ter 8 ou mais caracteres."
                                    ][this.appComponent.localeInt]}}
                                </div>
                                <svg aria-hidden="true" class="bi svg-icon iconAlertCircle" width="18" height="18" viewBox="0 0 18 18">
                                    <path d="M9 17c-4.36 0-8-3.64-8-8 0-4.36 3.64-8 8-8 4.36 0 8 3.64 8 8 0 4.36-3.64 8-8 8zM8 4v6h2V4H8zm0 8v2h2v-2H8z" fill="var(--red)"></path>
                                </svg>
                            </div>
                            <div *ngIf="password1.dirty && this.inputPassword1.includes('`')" class="d-flex justify-content-between alert-danger mb-2 w-100">
                                <div>
                                    {{["Das Zeichen ( ` ) ist nicht zulässig.",
                                    "El caracter ( ` ) no es permitido.",
                                    "The character ( ` ) is not allowed.",
                                    "Le caractère ( ` ) n'est pas autorisé.",
                                    "Il carattere ( ` ) non è consentito.",
                                    "O caractere ( ` ) não é permitido."
                                    ][this.appComponent.localeInt]}}
                                </div>
                                <svg aria-hidden="true" class="bi svg-icon iconAlertCircle" width="18" height="18" viewBox="0 0 18 18">
                                    <path d="M9 17c-4.36 0-8-3.64-8-8 0-4.36 3.64-8 8-8 4.36 0 8 3.64 8 8 0 4.36-3.64 8-8 8zM8 4v6h2V4H8zm0 8v2h2v-2H8z" fill="var(--red)"></path>
                                </svg>
                            </div>
                        </div>
                        <div>
                            <label for="password2">
                                <b>
                                    {{["Wiederholen Sie das neue Passwort",
                                    "Repite la nueva contraseña",
                                    "Repeat the new password",
                                    "Répéter le nouveau mot de passe",
                                    "Ripeti la nuova password",
                                    "Repita a nova senha"][this.appComponent.localeInt]}}
                                </b>
                            </label>
                            <input [(ngModel)]="this.inputPassword2" #password2="ngModel" 
                                class="form-control forgot-in mb-2" type="password" 
                                name="password2" id="password2" 
                                minlength="8" maxlength="1024" 
                                required autocomplete="new-password"/>
                            <div *ngIf="password2.value != password1.value && password2.dirty" class="d-flex justify-content-between alert-danger mb-2 w-100">
                                <div>
                                    {{[ "Passwörter stimmen nicht überein.",
                                    "Las contraseñas no coinciden.",
                                    "Passwords do not match.",
                                    "Les mots de passe ne correspondent pas.",
                                    "Le passwords non corrispondono.",
                                    "As senhas não correspondem."
                                    ][this.appComponent.localeInt]}}
                                </div>
                                <svg aria-hidden="true" class="bi svg-icon iconAlertCircle" width="18" height="18" viewBox="0 0 18 18">
                                    <path d="M9 17c-4.36 0-8-3.64-8-8 0-4.36 3.64-8 8-8 4.36 0 8 3.64 8 8 0 4.36-3.64 8-8 8zM8 4v6h2V4H8zm0 8v2h2v-2H8z" fill="var(--red)"></path>
                                </svg>
                            </div>
                        </div>

                        <ng-container *ngIf="password1.valid && this.inputPassword1 == this.inputPassword2 && !this.inputPassword1.includes('`'); else btndisabled">
                            <button type="button" class="btn btn-secondary mt-2 w-100 forgot-btn" (click)="this.request()">
                                <b>
                                    {{["Fortsetzen",
                                    "Continuar",
                                    "Continue",
                                    "Continuer",
                                    "Continua",
                                    "Prosseguir"][this.appComponent.localeInt]}}
                                </b>
                            </button>
                        </ng-container>
                        <ng-template #btndisabled>
                            <button type="button" disabled class="btn btn-dark mt-2 w-100 forgot-btn">
                                <b>
                                    {{["Fortsetzen",
                                    "Continuar",
                                    "Continue",
                                    "Continuer",
                                    "Continua",
                                    "Prosseguir"][this.appComponent.localeInt]}}
                                </b>
                            </button>
                        </ng-template>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
