<app-header></app-header>
<div class="container-fluid clearfix" style="margin-top:76px" >
        <div class="row justify-content-center">
            <div class="col-lg-1 col-xl-2 d-none d-lg-block d-xl-block flex"> </div>
    <div class="card-header" >
        <h3> Regiones </h3>
    </div>

    <div class="card-body">
        <div class=" d-flex justify-content-between">
            <h4>Lista de Regiones</h4><button class="btn btn-outline-info" (click)="openCreateModal(crear)">Crear Región</button>
        </div>

        <br>

        <table class="table">
            <thead>
                <tr>
                    <th class="text-center">Id</th>
                    <th class="text-center">Pais</th>
                    <th class="text-center">Nombre</th>
                    <th class="text-center">Modificado</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor=" let region of regions" >
                    <td class="text-center">{{ region.ID }}</td>
                    <td class="text-center">{{ this.countriesStr[region.country_ID][1] }}</td>
                    <td class="text-center">{{ region.name}}</td>
                    <td class="text-center">{{ region.modified }}</td>
                    <th><i class="fa fa-pencil" aria-hidden="true"></i></th>
                    <td>
                        <div class=" d-inline-flex">
                            <button class="btn btn-outline-info"   (click) = "openEditModal(editar,region)" type="button" >Editar</button> &nbsp; &nbsp;
                            <button class="btn btn-outline-danger" (click) = "openDeleteModal(eliminar,region.ID)" type="button" >Eliminar</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div> 

    <!-- MODAL PARA CREAR -->
    <ng-template #crear let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Crear nueva región</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="regionForm" (ngSubmit)="createRegion();modal.close('Save click')" class="card-body">
                <div class="form-group">
                    <!-- Espacio para nombre  -->
                    <label for="name">Nombre de region<span class="text-danger">*</span></label>
                    <input type="text" formControlName="name" class="form-control" [ngValue]="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                        <div *ngIf="f.name.errors.required">El nombre de la region es obligatorio.</div>
                    </div>
                    <!-- Elección de país correspondiente -->
                    <label for="country_ID ">País de región<span class="text-danger">*</span></label>
                    <select name = "country_ID" id = "country_ID" formControlName="country_ID" >
                        <option value="" disabled>Elige un país</option>
                        <option *ngFor=" let country of countries" [ngValue]="country.ID" [ngClass]="{ 'is-invalid': submitted && f.country_ID.errors }">{{country.name_es}}</option>
                    </select>

                    <!-- <label for="country_ID ">País de región<span class="text-danger">*</span></label>
                    <div>
                        <select name = "country_ID" id = "country_ID" >
                            <option type="text" *ngFor=" let country of countries" [selected]="country_ID == country.ID" formControlName="country_ID"  class="form-control" [ngValue]="country_ID" [ngClass]="{ 'is-invalid': submitted && f.country_ID.errors }">{{country.name_es}}</option>
                        </select>
                        <div *ngIf="submitted && f.country_ID.errors" class="invalid-feedback">
                            <div *ngIf="f.country_ID.errors.required">El nombre de la region es obligatorio.</div>
                        </div>
                    </div> -->
                        
                      
                    <!-- <select [(ngModel)]="car.colour"">
                        <option *ngFor="let x of colours" [value]="x.id" [selected]="car.color.id == x.id">{{x.name}}</option>
                    </select> -->
                       
                    

                </div>
                <p><span class="text-danger">*</span> Campos requeridos</p>
                <div class=" d-flex justify-content-end">
                    <button type="submit" class="btn btn-outline-info">Crear</button>
                </div>
            </form>
        </div>
    </ng-template>

    <!-- MODAL PARA EDITAR -->
    <ng-template #editar let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Editar Región</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="regionForm" (ngSubmit) = "updateRegion(region.ID); modal.close('Save click')" class="card-body">
                <div class="form-group">
                    Espacio para el id 
                    <label for="id">ID del region</label>
                    <input type="text" value = {{region.ID}} readonly class="form-control" [ngValue]="ID" formControlName="ID">

                    <!-- Espacio para nombre -->
                    <label for="name">Nombre de region<span class="text-danger">*</span></label>
                    <input type="text" value = {{region.name}} formControlName="name" class="form-control" [ngValue]="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                        <div *ngIf="f.name.errors.required">El nombre de la region es obligatorio.</div>
                    </div>
                    
                    <!-- Elección de país correspondiente -->
                    <label for="country_ID ">País de región<span class="text-danger">*</span></label>
                    <select name = "country_ID" id = "country_ID" formControlName="country_ID" >
                        <option value="" disabled>Elige un país</option>
                        <option *ngFor=" let country of countries" [ngValue]="country.ID" [ngClass]="{ 'is-invalid': submitted && f.country_ID.errors }">{{country.name_es}}</option>
                    </select>

                </div>
                <p><span class="text-danger">*</span>Campos requeridos</p>
                <div class=" d-flex justify-content-end">
                    <button type="submit" class="btn btn-outline-warning">Modificar</button>
                </div>
            </form>
        </div>
    </ng-template>

    <!-- MODAL PARA ELIMINAR -->
    <ng-template #eliminar let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Eliminar región</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            ¿Estás seguro que quieres eliminar la región?
            <div class=" d-flex justify-content-end">
                <button type="submit" class="btn btn-outline-danger" (click)="deleteRegion(); modal.close('Save click')">ELIMINAR</button>
            </div>
        </div>
    </ng-template>
  </div>
</div>
