<head>
    <title>{{this.strTitle[this.appComponent.localeInt]}}</title>
</head>

<body>
    <div class="progress">
        <div class="progress-bar stripes" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    <div class="row">
        <div class="col-1 col-xl-2"></div>

        <div class="col-10 col-xl-8 first-column">
            <div class="row row-cols-1 justify-content-center">
                <div class="col-12 text-center" oncontextmenu="return false">
                    <img class="col dog" src="/assets/img/curiousdog.png" alt="Error 404">
                </div>
                    <h1 class="text-center title m-4 p-4">
                        {{this.strTitle[this.appComponent.localeInt]}}
                </h1>
                <div class="col-12 d-flex justify-content-center">
                    <div class="col-12 d-flex justify-content-center">
                        <p class="grt nice-p text-center">
                            {{["Was für eine Schande! Wir konnten die gesuchte Seite nicht finden.",
                            "¡Que pena! No pudimos encontrar la página que buscas.",
                            "What a pity! We could not find the page you are looking for.",
                            "Quel dommage! Nous n'avons pas trouvé la page que vous recherchez.",
                            "Che peccato! Non siamo riusciti a trovare la pagina che stai cercando.",
                            "Que pena! Não foi possível encontrar a página que você está procurando."
                            ][this.appComponent.localeInt]}}
                        </p>
                    </div>
                </div>

            </div>

        </div>

        <div class="col-1 col-xl-2"></div>
    </div>
</body>

