.div-featured-image {
    transform-style: preserve3d;
    position: relative;
    height: 80vh;
    overflow: hidden;
    perspective: 2px;
    background-image: url("/assets/img/love-hands.jpg");
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
    display: block;
    user-select: none;
    -webkit-user-select: none; 
    -moz-user-select: none;     
    -ms-user-select: none;     
    -o-user-select: none;
}

.li-grt {
    margin-bottom: 32px;
}

ul {
    list-style: none;
}

.team {
    margin-top: 32px;
    margin-bottom: 32px;
    max-width: 392px;
}

.team-img {
    position: relative;
    display: block;
    width: 100%;
    height:auto;
    margin-bottom: 12px;
    user-select: none;
    -webkit-user-select: none; 
    -moz-user-select: none;     
    -ms-user-select: none;     
    -o-user-select: none;
    border: 2px solid var(--cream-dark);
    border-radius: 1rem;
}

.team-name {
    text-align: center;
    font-size: 20px;
    line-height: 1.618;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    margin-bottom: 0;
    font-weight: 400;
}

.team-title {
    text-align: center;
    font-size: 16px;
    line-height: 1.618;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-weight: 300;
}

.social{
    align-items: center;
}

.social-link {
    display: inline-block;
    align-self: center;
    justify-self: center;
    align-content: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 2px solid var(--cream-dark);
    display: flex;
    color: var(--carbon);
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}

.social-link:hover, .social-link:focus {
    background: var(--cream-dark);
    text-decoration: none;
}