<header>
    <title>{{this.strTitle[this.appComponent.localeInt]}}</title>
</header>

<body>
    <div class="div-featured-image"></div>

    <div class="row">
        <div class="col-1 col-xl-2"></div>

        <div class="col-10 col-xl-8 first-column">
            <ng-container *ngIf="this.appComponent.localeInt == 1;else english">
                <div class="row row-cols-2">
                    <div class="col-12">
                        <h1 class="title">Acerca de Nosotros</h1>
                        <p class="grt nice-p">
                            HandsApp nació en 2020 cuando un estudiante tomaba clases de Lengua de Señas por
                            videollamada, al
                            platicar con su amigo, se propusieron crear juntos el ambiente aprendizaje de Lengua de
                            Señas más
                            completo e inclusivo en el mundo.
                        </p>
                        <h2 class="h1grt">Nuestra Misión</h2>
                        <ul class="grt nice-p">
                            <li class="li-grt">
                                Ser el ecosistema tecnológico de aprendizaje de lengua de señas más incluyente y
                                completo, tomando las necesidades de las personas sordas y difíciles
                                de oír como nuestra prioridad.
                            </li>
                            <li class="li-grt">
                                Hacer nuestro contenido fácilmente disponible a los que más lo necesitan.
                            </li>
                            <li class="li-grt">
                                Desarrollar herramientas que hagan una diferencia real en la vida de las personas sordas
                                y difíciles de oír.
                            </li>
                            <li class="li-grt">
                                Empoderar a nuestros usuarios para poder comunicarse con todas las personas sordas,
                                difíciles de oír, y oyentes.
                            </li>
                            <li class="li-grt">
                                Ofrecer nuestras plataformas en una multitud de idiomas y lenguas de señas.
                            </li>
                            <li class="li-grt">
                                Ser líderes en el proceso de inclusión de las personas sordas y difíciles de oír en el
                                mundo.
                            </li>
                        </ul>
                    </div>
                </div>

                <h2 class="h1grt">Equipo</h2>

                <div class="d-flex justify-content-evenly row">
                    <div class="team col-12 col-md-6">
                        <img class="team-img" src="/assets/img/Diego.jpg" alt="Diego Villalpando">
                        <h3 class="team-name">
                            Diego Villalpando
                        </h3>
                        <h4 class="team-title">
                            Co-fundador y desarrollador
                        </h4>
                        <ul class="d-flex justify-content-center social mb-0 list-inline mt-3">
                            <li class="list-inline-item"><a href="https://github.com/Dialvive/" target="_blank"
                                    class="social-link"><i class="bi bi-github"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.linkedin.com/in/diegovillalpando/"
                                    target="_blank" class="social-link"><i class="bi bi-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <div class="team col-12 col-md-6">
                        <img class="team-img" src="/assets/img/Marco.jpg" alt="Marco Blancas">
                        <h3 class="team-name">
                            Marco Blancas
                        </h3>
                        <h4 class="team-title">
                            Co-fundador y desarrollador
                        </h4>
                        <ul class="d-flex justify-content-center social mb-0 list-inline mt-3">
                            <li class="list-inline-item"><a href="https://github.com/tokumago" target="_blank"
                                    class="social-link"><i class="bi bi-github"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.linkedin.com/in/marco-tokunaga/"
                                    target="_blank" class="social-link"><i class="bi bi-linkedin"></i></a></li>
                        </ul>
                    </div>
                   <!--  <div class="team col-12 col-md-6">
                        <img class="team-img" src="/assets/img/Carlos.jpg" alt="Carlos Calvillo">
                        <h3 class="team-name">
                            Carlos Calvillo
                        </h3>
                        <h4 class="team-title">
                            Lorem ipsum dolor sit amet
                        </h4>
                        <ul class="d-flex justify-content-center social mb-0 list-inline mt-3">
                            <li class="list-inline-item"><a
                                    href="https://www.youtube.com/channel/UC7zHmdwI1D7AcETiURmwG-A" target="_blank"
                                    class="social-link"><i class="bi bi-youtube"></i></a></li>
                            <li class="list-inline-item"><a href="mailto:Carlangasnaruto@gmail.com"
                                    class="social-link"><i class="bi bi-envelope"></i></a></li>
                        </ul>
                    </div> -->
                </div>

                <h2 class="h1grt">Contáctanos</h2>
                <p class="grt nice-p">
                    ¿Problemas, errores, sugerencias, más información, o quieres decir hola?
                    <br><br>
                    Síguenos y contáctanos en nuestras redes sociales, o ponte en contacto con nosotros en
                    <a href="mailto:hola@handsapp.org">hola@handsapp.org</a>.
                </p>
            </ng-container>
        </div>

        <div class="col-1 col-xl-2"></div>
    </div>

    <ng-template #english>
        <div class="row row-cols-2">
            <div class="col-12">
                <h1 class="h1grt">About Us</h1>
                <p class="grt nice-p">
                    HandsApp was born in 2020, when a student was learning Sign Language through video call,
                    after talking to a friend about it, they committed to create the most inclusive and complete
                    Sign Language learning environment in the world.
                </p>
                <h2 class="h1grt">Our Mission</h2>
                <ul class="grt nice-p">
                    <li class="li-grt">
                        To be the most inclusive and complete sign language learning ecosystem, with the needs of Deaf
                        and hard of hearing people as our main priority.
                    </li>
                    <li class="li-grt">
                        To make our content easily available to the people who needs it the most.
                    </li>
                    <li class="li-grt">
                        To develop tools that make a real difference in the life of Deaf and hard of hearing people.
                    </li>
                    <li class="li-grt">
                        To empower our users to be able to communicate with all the people.
                    </li>
                    <li class="li-grt">
                        To offer our platforms in a multitude of written languages and sign languages.
                    </li>
                    <li class="li-grt">
                        To be leaders in the process of inclusion of Deaf and hard of hearing people in the world.
                    </li>
                </ul>
            </div>
        </div>

        <h2 class="h1grt">Team</h2>

        <div class="d-flex justify-content-evenly row">

            <div class="team col-12 col-md-6">
                <img class="team-img" src="/assets/img/Diego.jpg" alt="Diego Villalpando">
                <h3 class="team-name">
                    Diego Villalpando
                </h3>
                <h4 class="team-title">
                    Co-founder and developer
                </h4>
                <ul class="d-flex justify-content-center social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a href="https://github.com/Dialvive/" target="_blank"
                            class="social-link"><i class="bi bi-github"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/diegovillalpando/" target="_blank"
                            class="social-link"><i class="bi bi-linkedin"></i></a></li>
                </ul>
            </div>

            <div class="team col-12 col-md-6">
                <img class="team-img" src="/assets/img/Marco.jpg" alt="Marco Blancas">
                <h3 class="team-name">
                    Marco Blancas
                </h3>
                <h2 class="team-title">
                    Co-founder and developer
                </h2>
                <ul class="d-flex justify-content-center social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a href="https://github.com/tokumago" target="_blank"
                            class="social-link"><i class="bi bi-github"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/marco-tokunaga/" target="_blank"
                            class="social-link"><i class="bi bi-linkedin"></i></a></li>
                </ul>
            </div>

            <!-- <div class="team col-12 col-md-6">
                <img class="team-img" src="/assets/img/Carlos.jpg" alt="Carlos Calvillo">
                <h3 class="team-name">
                    Carlos Calvillo
                </h3>
                <h2 class="team-title">
                    Lorem ipsum dolor sit amet
                </h2>
                <ul class="d-flex justify-content-center social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a href="https://www.youtube.com/channel/UC7zHmdwI1D7AcETiURmwG-A"
                            target="_blank" class="social-link"><i class="bi bi-youtube"></i></a></li>
                    <li class="list-inline-item"><a href="mailto:Carlangasnaruto@gmail.com" class="social-link"><i
                                class="bi bi-envelope"></i></a></li>
                </ul>
            </div> -->
        </div>

        <h2 class="h1grt">Contact Us</h2>
        <p class="nice-p">
            Problems, errors, suggestions, more information, or want to say hi?
            <br><br>
            Follow and contact us on our social media websites, or email us at
            <a href="mailto:hola@handsapp.org">hola@handsapp.org</a>.
        </p>
    </ng-template>
</body>