<footer class="container-fluid memphis-dark">
    <form action="">
        <div class="row justify-content-center">
            <div class="col-md-1 col-xl-3"></div>
            <div class="col-8 col-md-4 col-xl-2 footer-col">
                <h3 class="footer-header">
                    {{strIdi[this.appComponent.localeInt]}}
                </h3>
                <select name="spLangSelect" [(ngModel)]="this.spSelected" (ngModelChange)="updateSP($event)" class="form-select footer-select text-center" aria-label="Idioma">
                    <option [value]="i" *ngFor="let item of this.spLanguages; let i = index">{{item}}</option>
                </select>
            </div>
            <div class="col-12 col-md-6 col-xl-4 footer-col">
                <h3 class="footer-header">
                    {{strLen[this.appComponent.localeInt]}}
                </h3>
                <select disabled name="sgLangSelect" [(ngModel)]="this.sgSelected" (ngModelChange)="updateSG($event)" class="form-select footer-select text-center" aria-label="Lengua de Señas">
                    <option [value]="i" *ngFor="let item of this.sgLanguages; let i = index">{{item}}</option>
                </select>
            </div>
            <div class="col-md-1 col-xl-3"></div>
        </div>
    </form>
    <div class="row">
        <div class="col-xl-2"></div>
        <div class="col-12 col-md-3 col-xl-2 footer-col">
            <div>
                <h3 class="footer-header">
                    {{strSob[this.appComponent.localeInt]}}
                </h3>
            </div>
            <ul class="grt footer-ul">
                <li>
                    <a class="footer-a" href="/about-us?loc={{this.appComponent.localeTxt}}">{{strMis[this.appComponent.localeInt]}}</a>
                </li>
                <a class="footer-a" href="/donors?loc={{this.appComponent.localeTxt}}">
                    {{["Spenden",
                    "Donaciones",
                    "Donations",
                    "Des dons",
                    "Donazioni",
                    "Doações"][this.appComponent.localeInt]}}
                </a>
            </ul>
        </div>
        <div class="col-12 col-md-3 col-xl-2 footer-col">
            <div>
                <h3 class="footer-header">
                    {{strPro[this.appComponent.localeInt]}}
                </h3>
            </div>
            <ul class="grt footer-ul">

                <li>
                    <a class="footer-a" href="/products?loc={{this.appComponent.localeTxt}}">HandsApp.org</a>
                </li>
                <li>
                    <a class="footer-a" href="/bug?loc={{this.appComponent.localeTxt}}">
                        {{["Einen Fehler melden",
                        "Reportar un error",
                        "Report a bug",
                        "Signaler un bug",
                        "Segnalare un bug",
                        "Reportar um erro"][this.appComponent.localeInt]}}
                    </a>
                </li>
                <li>
                    <ng-container *ngIf="this.appComponent.localeInt == 1">
                        <a class="footer-a" href="https://us1.list-manage.com/survey?u=483460576d7f7125b7a5f59b8&id=8dafc35921&attribution=false">
                            Encuesta de satisfacción <i class ="bi bi-arrow-up-right-square bi-footer"></i>
                        </a>
                    </ng-container>
                    <ng-container *ngIf="this.appComponent.localeInt != 1">
                        <a class="footer-a" href="https://us1.list-manage.com/survey?u=483460576d7f7125b7a5f59b8&id=4b235f583f&attribution=false">
                            {{["Zufriedenheitsumfrage",
                            "Encuesta de satisfacción",
                            "Satisfaction survey",
                            "Enquête de satisfaction",
                            "Indagine di soddisfazione",
                            "Pesquisa de satisfação"][this.appComponent.localeInt]}} 
                            <i class ="bi bi-arrow-up-right-square bi-footer"></i>
                        </a>
                    </ng-container>
                </li>
            </ul>
        </div>
        <div class="col-12 col-md-3 col-xl-2 footer-col">
            <div>
                <h3 class="footer-header">
                    {{strRed[this.appComponent.localeInt]}}
                </h3>
            </div>
            <ul class="grt footer-ul">
                <li>
                    <a class="footer-a" href="https://www.facebook.com/HandsApp.org" target="_blank">
                        Facebook <i class ="bi bi-arrow-up-right-square bi-footer"></i>
                    </a> 
                </li>
                <li>
                    <a class="footer-a" href="https://twitter.com/HandsAppOrg" target="_blank">
                        Twitter <i class ="bi bi-arrow-up-right-square bi-footer"></i>
                    </a>
                </li>
                <li>
                    <a class="footer-a" href="https://www.instagram.com/handsapp_org/ " target="_blank">
                        Instagram <i class ="bi bi-arrow-up-right-square bi-footer"></i>
                    </a>
                </li>
                <li>
                    <a class="footer-a" href="http://eepurl.com/hv8fkf" target="_blank">
                    {{["Mailingliste",
                    "Lista de correo",
                    "Mailing List",
                    "Liste de diffusion",
                    "Mailing list",
                    "Mailing list"][this.appComponent.localeInt]}} 
                    <i class ="bi bi-arrow-up-right-square bi-footer"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-12 col-md-3 col-xl-2 footer-col">
            <div>
                <h3 class="footer-header">
                    {{strLeg[this.appComponent.localeInt]}}
                </h3>
            </div>
            <ul class="grt footer-ul">
                <li>
                    <a class="footer-a" href="terms?loc={{this.appComponent.localeTxt}}">
                        {{strTer[this.appComponent.localeInt]}}
                    </a>
                </li>
                <li>
                    <a class="footer-a" href="privacy?loc={{this.appComponent.localeTxt}}">
                        {{strPri[this.appComponent.localeInt]}}
                    </a>
                </li>
                <li>
                    <a class="footer-a" href="3rdpartylicences?loc={{this.appComponent.localeTxt}}">
                    {{["Lizenzen von Drittanbietern",
                    "Licencias de terceros",
                    "Third Party Licenses",
                    "Licences tierces",
                    "Licenze di terze parti",
                    "Licenças de terceiros"][this.appComponent.localeInt]}}
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-xl-2"></div>
    </div>

    <div class="row d-flex justify-content-evenly">
        <div class="col-12 d-flex justify-content-center mt-4 mb-0">
            <p class="text-center text-muted mt-0 mb-0">
                © Tecnologías Haikode S.A.S. de C.V. 2021, {{strCop[this.appComponent.localeInt]}}.
            </p>
        </div>
        <div class="col-12 d-flex justify-content-center mt-0 mb-0">
            <p class="text-center text-muted">
                {{strReg[this.appComponent.localeInt]}}.
            </p>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <a href="//www.dmca.com/Protection/Status.aspx?ID=0fdf44bc-e6c7-4432-a165-4183defe4411"
                title="DMCA.com Protection Status" class="dmca-badge"> 
                <img src="https://images.dmca.com/Badges/dmca_protected_sml_120n.png?ID=0fdf44bc-e6c7-4432-a165-4183defe4411"
                    alt="DMCA.com Protection Status" class="dmca"/>
            </a>
            <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"></script>
        </div>
    </div>
</footer>