/* SEARCH ######################################################## */

.search-logo {
    width: 200px;
    height: 200px;
    margin-top: 8vh;
    margin-bottom: 0;
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url(/assets/img/logo.png);
}

.search-searchbar {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    height: 42px !important;
    width: 100%;
    max-width: 625px;
    padding-top: 2px;
    padding-bottom: 2px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 2rem;
    border-width: 2px !important;
    border-color: var(--cream-dark) !important;
    transition: 0.25s;
    box-shadow: 0 0 0 var(--cream-dark);
}

.search-searchbar:hover {
    transition: 0.25s;
    box-shadow: 0 0 14px var(--cream-dark);
}

.search-searchbar:focus-within {
    transition: 0.25s;
    box-shadow: 0 0 14px var(--cream-dark);
}

.searchbar-i {
    margin: 0;
    padding: 0;
    width: 10px !important;
}

.search-icon {
    display: inline-block;
    align-self: center;
    justify-self: center;
    align-content: center;
    justify-content: center;
    margin: auto;
    padding: auto;
    height: 30px;
    width: 30px;
}

.btn-container {
    min-height: 36px;
    height:fit-content;
    max-height: 72px;
}

.search-btn {
    margin-top: 8px;
    margin-left: 10px;
    margin-right: 10px;
    height: 100%;
    background-color: #fff;
    border-radius: 2rem;
    font-size: 16px;
    font-weight: 600;
    color: var(--carbon-dark);
    border-width: 2px;
    border-color: var(--cream-dark);
}

.search-input {
    border: none;
    box-shadow: none;
    height: 35px;
    outline-width: 0;
    padding: 0;;
    width: 100%;
    background-color: transparent;
    outline: none;
}

.search-reset-btn {
    transition: 0.25s;
    right: 0;
    margin-bottom: 1.5px;
    margin-right: 4px;
    width: 33px;
    height: 33px;
    background-color: var(--cream);
    border: 2px solid var(--cream);
    border-radius: 2rem;
    outline: var(--cream);
}

.search-reset-i {
    display: inline-block;
    align-self: center;
    justify-self: center;
    margin-top: auto;
    margin-bottom: 3px;
    color: var(--carbon-dark);
    font-weight: bold;
}

.btn-container {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
}

.alert{
    margin-top: var(--space4);
}
