.donor-card {
    display: block;
    justify-items: center;
    align-content: center;
    text-align: center;
    height: 100%;
    
    
    border-radius: 0.5rem;
    
    

   
    min-width: 200px;
    max-width: 100%;
    width: 100%;
   
    overflow: hidden;
    text-decoration: none;
    -webkit-animation: shadow-drop-2-bottom-alt 0.25s cubic-bezier(0, 0, 0, 0) both;
    animation: shadow-drop-2-bottom-alt 0.25s cubic-bezier(0, 0, 0, 0) both;
}

/* .donor-gold:before {
    content: '';
    position: fixed;
    bottom: 0; left: 0;
    border-top: 5vw solid rgba(255,255,255,.5);
    border-left: 4rem solid goldenrod;
    width: 0;
}
 */
/* .donor-gold:before {
    content: '';
    position: fixed;
    bottom: 0; left: 0;
    border-right: 10px solid goldenrod;
    border-bottom: 400px solid goldenrod;
    width: 0;
} */


.card-body {
    margin: auto;
    display: block;
    height: 100%;
    width: 100%;
    justify-items: center;
    align-content: center;
    text-align: center;
}

.card-title {
    margin: auto;
    display: block;
    justify-items: center;
    align-content: center;
    text-align: center;
    margin: 0;
    

}

.donor-gold {
    border-color: var(--tangerine);
}

.donor-silver {
    border-color: var(--azure);
}

.donor-bronze {
    border-color: var(--rose);
}

.donate-btn {
    padding-bottom: 30px;
}


.grid-container {
    display: grid !important;
    column-gap: 1.618;
    row-gap: 10px;
    list-style: none;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: minmax(50px, auto);
    padding-left: 0;
    padding-top: 1.618vh;
}

.date-box {
    overflow: hidden;
    color: grey;
    
}

img {
    width: 150px;
}




