/* RESULTS ####################################################### */

.results-card {
    display: block;
    justify-items: center;
    align-content: center;
    height: 100%;
    min-height: fit-content;
    max-height: 2fr;
    width: 1fr;
    padding: auto;
    margin: auto;
    text-align: center;
    border-radius: 1rem;
    overflow: hidden;
    text-decoration: none;
    -webkit-animation: shadow-drop-2-bottom-alt 0.25s cubic-bezier(0, 0, 0, 0) both;
    animation: shadow-drop-2-bottom-alt 0.25s cubic-bezier(0, 0, 0, 0) both;
}

.results-card:hover {
    -webkit-animation: shadow-drop-2-bottom 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: shadow-drop-2-bottom 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.grid-container {
    display: grid !important;
    column-gap: minmax(5px, 1.618vw);
    row-gap: 2.618vh;
    list-style: none;
    grid-template-columns: repeat(auto-fill, minmax(170px, 2fr));
    grid-auto-rows: minmax(50px, auto);
    padding-left: 0;
    padding-top: 2.618vh;
}

.card-body {
    height: 100%;
    margin: auto;
    padding: auto;
}

.card-title {
    height: 100%;
    margin: auto;
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}

.accordion-header {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}

.accordion-body {
    padding-top: 1.618vh;
    padding-bottom: 1.618vh;
}

.accordion-button {
    transition: 0.25s !important;
}

.accordion-button:focus {
    background-color: #fff;
    box-shadow: 0 0 0px var(--accent) !important;
    color: var(--accent);
    border-color: var(--cream);
}

.accordion-button:hover {
    background-color: var(--cream);
}

.accordion-button:active {
    background-color: #fff;
    box-shadow: 0 0 12px var(--accent) !important;
}

.accordion-button:not(.collapsed) {
    background-color: #fff;
    box-shadow: 0 0 0px var(--accent) !important;
    color: var(--accent);
}

.prox {
    text-align: right;
    width: 100%;
}