<app-ad-banner></app-ad-banner>
<div class="row">

    <div class="col-md-2 col-xl-2"></div>

    <div class="col-12 col-md-8 col-xl-6 first-column">
        <div class="d-flex justify-content-between align-items-start">
            <h1>
                Frase
            </h1>
            <div class="d-flex align-items-start">
                <button type="button" class="btn flag-btn" name="flag">
                    <i class="bi bi-flag-fill"></i>
                </button>
                <button type="button" class="btn heart-btn" name="heart">
                    <i class="bi bi-heart-fill"></i>
                </button>
            </div>
        </div>
        <div class="d-flex justify-content-center video-container">
            <video autoplay loop muted>
                <source type="video/mp4" src="">
            </video>
        </div>
        <div class="video-controls d-flex justify-content-center align-items-center">
            <button type="button" class="btn video-btn" name="turtle" value="2">
                <i class="bi bi-chevron-left"></i>
            </button>
            <button type="button" class="btn video-btn" name="play" value="1">
                <i class="bi bi-play-fill"></i>
            </button>
            <button type="button" class="btn video-btn" name="rabbit" value="2">
                <i class="bi bi-chevron-compact-right"></i>
            </button>
            <button type="button" class="btn video-btn" name="fox" value="2">
                <i class="bi bi-chevron-right"></i>
            </button>
            <button type="button" class="btn video-btn" name="cheetah" value="2">
                <i class="bi bi-chevron-double-right"></i>
            </button>
            <button type="button" class="btn video-btn" name="fullscreen" value="2">
                <i class="bi bi-arrows-fullscreen"></i>
            </button>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card word-card">
                    <div class="card-body">
                        <h3>
                            Explicación de la seña
                        </h3>
                        <hr> Bla bla bla
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <div class="card word-card">
                    <div class="card-body">
                        <h3>
                            Detalles
                        </h3>
                        <hr>
                        <ul>
                            <li class="ligrt">
                                Categoría:
                            </li>
                            <li class="ligrt">
                                Lengua de Señas:
                            </li>
                            <li class="ligrt">
                                Región:
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="card word-card">
                    <div class="card-body">
                        <h3>
                            Palabras Relacionadas
                        </h3>
                        <hr>
                        <ul>
                            <li class="ligrt">
                                <a href="">Proximamente...</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="d-none d-xl-block col-xl-2 second-column">
        <img class="ad-column" src="/assets/img/300x600.png" alt="">
    </div>

    <div class="col-md-2 col-xl-2"></div>
</div>
<app-ad-banner></app-ad-banner>